body {
  width: 700px;
  margin: 0 auto;
  padding: 50px;
  background-image: url('backimg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; 
  background-color: transparent;
  box-shadow: 10px 100px 100px rgba(5, 0, 0, 0.906);
 /* border-radius: 8000px;
  filter: blur(5px);*/
  
  
}


div.elem-group {
  margin: 20px 0;
}

div.elem-group.inlined {
  width: 49%;
  display: inline-block;
  float: left;
  
  margin-left: 1%;
}

label {
  display: block;
  font-family: 'Nanum Gothic';
  padding-bottom: 10px;
  font-size: 1.25em;
  color: rgb(230, 137, 31);
}

input, select, textarea {
  border-radius: 2px;
  border: 2px solid #2a2826;
  box-sizing: border-box;
  font-size: 1.25em;
  font-family: 'Nanum Gothic';
  width: 100%;
  padding: 10px;
  color: rgb(245, 248, 248);
  background-color: transparent;
  
}



div.elem-group.inlined input {
  width: 95%;
  display: inline-block;
  color: rgb(56, 58, 58);
}

textarea {
  height: 250px;
  color: rgb(239, 247, 247);
  
  
}

hr {
  border: 1px dotted #5a5858;
}

button {
  height: 50px;
  background: rgb(243, 138, 9);
  border: none;
  color: white;
  font-size: 1.25em;
  font-family: 'Nanum Gothic';
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  border: 2px solid rgb(15, 1, 1);
}